{% extends "systemcore/systemcore_base.html" %}
{% load static %}

{% block title %}Create RJ45 Pinouts{% endblock %}

 
{% block content %}
  <h2>Create 8 RJ45 Pinouts</h2>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ pinout_form.as_p }}
  {{ pin_formset.management_form }}
  <table>
    <tr>
      <th>Pin Number</th>
      <th>Color Code</th>
    </tr>
    {% for form in pin_formset %}
      <tr>
        <td>{{ form.pin_number }}</td>
        <td>{{ form.color_code }}</td>
      </tr>
    {% endfor %}
  </table>
  <button type="submit">Save All</button>
</form>
{% endblock %}